body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0; 
}

#upper-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6943FF;
    width: 550px;
    height: 285px;
}

#upper-container h3 {
    text-align: center;
    width: 448px;
    height: 48px;
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
}

#upper-container input {
    height: 89px;
    width: 117px;
    background-color: #6943FF;
    border: 2px solid #B295FF;
    border-radius: 12px;
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
}

#upper-container button {
    width: 117px;
    height: 42px;
    font-size: 15px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#upper-container button:hover {
    background-color: whitesmoke;
}

#upper-container button:active {
    background-color: grey;
}

#lower-container {
    background-color: #F4F4F4;
    width: 550px; 
    height: 790px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


